.jobsite-boxes-wrapper {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 50px;
  flex-wrap: wrap; /* wrap במקום nowrap */
  align-items: flex-start;
}

.jobsite-box {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 250px;
  flex-shrink: 0;
}
.jobsite-boxes-wrapper {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 50px;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 20px;
}
